{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
      <div class="container">
        <div class="col-md-6">
          <img src="{{M.img.url}}" width="1000" height="500" >
        </div>
        <div class="col-md-6">
            <div>
                <h4>{{M.name}}</h4>
                <h6>{{M.desc}}</h6>
                <h4>YEAR : {{M.year}}</h4>
                <h4>FROM Profile : {{M.user}}</h4>
            </div>
          <a class="btn btn-warning" href="{% url 'MovieApp:Update' M.id %}"> Update </a>
          {% for messages in messages %}
            <label><h2>{{messages}}</h2></label>
          {% endfor %}
          <a class="btn btn-primary" href="{% url 'MovieApp:Delete' M.id %}"> Delete </a>
          <a class="btn btn-danger" href="{% url 'MovieApp:review' M.id %}"> Write Review </a>
        </div>
      </div>
      <div class="container">
      <div><h3>Reviews</h3></div>
      {% for i in R %}
         <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{i.caption}}</h5>
                <p class="card-text">{{i.review}}</p>
                <h4 class="card-title">From : {{i.user}}</h4>
                <a class="btn btn-primary" href="{% url 'MovieApp:re_delete' i.id %}"> Delete Review </a>
                </div>
            </div>
         </div>
      {% endfor %}
      </div>
  </div>
</div>

{% endblock %}