{% extends 'base.html' %}
{% block body %}

<h1 class="text-center"><u>MY MOVIES</u></h1>
<div class="container">
    <div class="row">
        {% for i in M %}
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{i.img.url}}" height="250px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.desc}}</p>
                    <a class="btn btn-primary" href="{% url 'MovieApp:detail' i.id %}"> Detail </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}