<!--'justify-content-between' - inside nave bar is for arranging the items as its length-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'MovieApp:index' %}">Home</a>
                </li>
                <!--/ dropdown had a class in css, it provides function to have hover effect on dropdown menu-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        {% for cat in links %}
                        <!--links is function created in context_processors.py and it is linked in settings-->
                        <!--get_url is def created with reverse function inside category model-->
                        <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'MovieApp:add_movie' %}"> Add New Movie </a>
                </LI>
            </ul>
            <form class="d-flex" action="{% url 'MovieApp:search_result' %}" method="get">
                {% csrf_token %}
                <input class="form-control my-2" type="search" placeholder="Search" name='q' aria-label="Search">
                <button class="btn btn-primary my-2" type="submit">Search</button>
            </form>
            {% if request.user.is_authenticated %}
            <span><a class="navbar-brand">Hello, {{request.user}}</a></span>
            <span><a href="{% url 'MovieApp:logout' %}">Logout</a></span>
            <!--            -->
            {% else %}
            <a href="{% url 'MovieApp:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>